name: "CI Unit Tests"

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  Normal:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Install meson and ninja
      run: pip3 install --user meson ninja
    - name: Run Unit Tests
      run: |
        export PATH=${HOME}/Library/Python/3.8/bin:${HOME}/Library/Python/3.9/bin:${HOME}/.local/bin:${PATH}
        cd libnaxsi
        meson -Dbuildtype=release build
        ninja -C build test

  Asan:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Install meson and ninja
      run: pip3 install --user meson ninja
    - name: Run Unit Tests with ASAN
      env:
        ASAN_OPTIONS: detect_leaks=0,detect_odr_violation=0,allocator_may_return_null=1
      run: |
        export PATH=${HOME}/Library/Python/3.8/bin:${HOME}/Library/Python/3.9/bin:${HOME}/.local/bin:${PATH}
        cd libnaxsi
        meson -Dbuildtype=debugoptimized -Db_sanitize=address,undefined build
        ninja -C build test
